{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="border rounded-3 p-3">
<div class="container text-center gap-3">

    <img src="{% static 'logo_light.png' %}" class="img-fluid" width="200"/>
        <h1 class="p-3">Welcome {{ user.get_username|capfirst }}!</h1>
        <div class="container">
            <form action="/search/" method="POST">
                <input class="form-control form-control-lg" list="datalistOptions" id="user_query" name="user_query" placeholder="Describe your issue..." required>
                <datalist id="datalistOptions">
                    <option value="Unable to login into Console">
                    <option value="SIM Card not detected">
                </datalist>
                <input type="submit" value="Go!" class="btn btn-success m-3">
                {% csrf_token %}
        </form>
    </div>
</div>


</div>
</div>

{% endblock %}