{% extends "base.html" %}
{% load static %}

{% block content %}
{% csrf_token %}
{% for item in ticket %}
<div class="border rounded-3 p-3">
    <h1>Your Service Request</h1>
    <table class="table table-bordered table-sm table-responsive">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Status</th>
                <th scope="col">Created</th>
                <th scope="col">Priority</th>
                <th scope="col">Last Update</th>
                <th scope="col">Subject</th>
                <th scope="col">Agent</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.created_at }}</td>
                <td>{{ item.priority }}</td>
                <td>{{ item.updated_at }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.agent }}</td>
            </tr>
            
        </tbody>
    </table>
    <div class="border rounded-3 p-3">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-1 text-center">
                    <i class="bi bi-person-circle fs-1"></i>
                    <br>{{ item.user }}
                </div>
                <div class="col-md-11">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <p class="card-text"><small class="text-body-secondary">{{ item.created_at }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endfor %}
{% endblock %}